body {
  background-image: url("https://i.imgur.com/DoOoleJ.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1150px; /*2048 × 1505*/
  max-height: 750px;
  background-color: azure;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 250px;
}

h1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 70px;
  text-decoration:overline;
  text-align: center;
  text-decoration: underline;
  margin-top: 15px;
}

h2 {
  text-align: center;
  color: white;
}

div {
  color: rgba(255, 255, 255, 0.7);
}

button {
  display: block;
  cursor: pointer;
}

#hunt {
  text-align: center;
  font-size: 25px;
}

#countDown {
  font-size: 70px;
  color: rgb(25, 215, 25);
}

#huntButton {
  background-color: rgb(214, 142, 17);
  font-size: 50px;
  padding:20px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  visibility: visible;
}

#shop {
  visibility: hidden;
  width: 280px;
  height: 230px;
  color: azure;
  font-size: 20px;
  background-color: rgb(91, 54, 7);
  border: 1px solid rgb(214, 142, 17);
  padding: 20px;
}

#shopButton {
  background-color: rgb(214, 142, 17);
  font-size: 20px;
  padding:10px;
  border-radius: 10px;
}

#equips {
  color: azure;
  font-size: 20px;
  background-color: rgba(193, 224, 243, 0.1);
  empty-cells: show;
  border: 1px solid grey;
  table-layout: fixed;
  width: 400px;
  height: 100px;
}

#captures {
  color: azure;
  font-size: 20px;
  background-color: rgba(210, 240, 210, 0.1);
  empty-cells: show;
  border: 1px solid grey;
  table-layout: fixed;
  width: 1100px;
  height: 100px;
}

th, td {
  border: 1px solid grey;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

td {
  visibility: hidden;
}

#e0 {
  visibility: visible;
}

#gold, #goldicon {
  font-size: 40px;
  color: goldenrod;
}

#result {
  width: 400px;
  height: 0px;
  font-size: 20px;
  padding: 10px;
  position: relative;
  margin-top: 20px;
  margin: 0 auto;
  z-index: -1;
}

#items {
  margin: auto;
  margin-top: 20px;
}

#text {
  width: 380px;
  height: 55px;
  border: 3px solid grey;
  background-color: black;
  font-size: 25px;
  color: white;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

#charm, #amulet {
  background-color: goldenrod;
  height: 30px;
  width: 100px;
  font-size: 19px;
}

#story {
  color: rgb(249, 195, 101);
  font-size: 28px;
}

#i0, #i1 {
  border: 1px solid rgb(214, 142, 17);
}
